/*reseteo global*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
}

/*variables de colores*/
:root{
  --bg-color:#f3f4f6;
  --card-bg: ffffff;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --accent:#3b82f6;
}

body{
  background-color: var(--bg-color);
  col:var(--text-primary)
}
